<h1 mat-dialog-title>Új város felvétele</h1>
<div mat-dialog-content>
    <form [formGroup]="cityForm">
        <div>
            <mat-form-field>
                <input placeholder="Város neve" matInput formControlName="name">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Irányítószám" formControlName="zipCode">
            </mat-form-field>
        </div>
    </form>
</div>
<div *ngIf="!this.cityForm.get('zipCode').valid">
    <p style="color:red">* az irányítószám 4 szám hosszú minimum</p>
</div>
<div mat-dialog-actions>
    <button mat-raised-button [disabled]="!cityForm.valid" (click)="save()" color="primary">Mentés</button>
    <button mat-raised-button (click)="close()" color="warn">Mégsem</button>
</div>