@media screen and (min-width:1201px) {
    ::ng-deep .cdk-overlay-pane {
        width: 25% !important;
    }
}

@media screen and (min-width:901px) and (max-width:1200px) {
    ::ng-deep .cdk-overlay-pane {
        width: 40% !important;
    }
}

@media screen and (min-width:601px) and (max-width:900px) {
    ::ng-deep .cdk-overlay-pane {
        width: 50% !important;
    }
}

@media screen and (min-width:0px) and (max-width:600px) {
    ::ng-deep .cdk-overlay-pane {
        width: 80% !important;
    }
}

