<div *ngIf="loaded | async" style="width: 100%;">
  <div class="list">
    <mat-grid-list class="list-item" cols="3" rowHeight="5rem">
      <mat-grid-tile colspan="2">
        <mat-form-field>
          <input type="text" placeholder="Megye kiválasztása" aria-label="Number" matInput [formControl]="myControl"
            [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name"
              (click)="listCities(option.id)">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile *ngIf="listOfCities" colspan="1">
        <button mat-icon-button (click)="openAddDialog()" matTooltip="Új város hozzáadása">
          <mat-icon>add</mat-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="list-item" *ngIf="listOfCities">
      <app-list-of-cities [selectedCounty]="selectedCountyID"></app-list-of-cities>
    </div>
  </div>
</div>