@media only screen and (min-width: 1361px){
    .list-item {
        width: 100%;
    }
    .list {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
}
}
@media only screen and (min-width: 881px) and (max-width: 1360px) {
    .list-item {
        width: 100%;
    }
    .list {
        padding-top:2%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
}
}
@media only screen and (min-width: 601px) and (max-width: 880px) {
    .list-item {
        width: 100%;
    }
    .list {
        padding-top:2%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
}
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
    .list-item {
        width: 100%;
    }
    .list {
        padding-top:2%;
        width: 100%;
}
}