<div mat-dialog-content>
    <p>Biztosan törölni szeretné {{selectedCity.name}} nevű várost?</p>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="closeDialog(true)" color="warn">Törlés</button>
    <button mat-raised-button (click)="closeDialog(false)" color="primary">Mégsem</button>
</div>