::ng-deep .mat-list-text {
    width: 100% !important;
}

.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    width: 70%;
}

@media screen and (min-width:601px) {
    .mod-city-icon {
        margin: 0.6rem;
    }
}

@media screen and (min-width:0px) and (max-width:600px) {
    .mod-city-icon {
        margin: 0;
    }
}
