<div *ngIf="loaded | async">
  <mat-list>
    <h3 mat-subheader>Városok</h3>
    <mat-list-item *ngFor="let city of cities;let i = index;">
      <button mat-icon-button class="mod-city-icon" matTooltip="Törlés" *ngIf="!editable[i]" [disabled]="disabled[i].delete" (click)="delete(i)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button class="mod-city-icon" matTooltip="Szerkesztés" *ngIf="!editable[i]" [disabled]="disabled[i].delete" (click)="modifyCity(i)">
          <mat-icon>edit</mat-icon>
        </button>
      <button *ngIf="editable[i]" mat-icon-button class="mod-city-icon" matTooltip="Mentés" (click)="save(city.id, i)">
        <mat-icon>done</mat-icon>
      </button>
      <button *ngIf="editable[i]" mat-icon-button class="mod-city-icon" matTooltip="Mégse" (click)="cancel(i)">
        <mat-icon>clear</mat-icon>
      </button>
      <mat-icon mat-list-icon>location_city</mat-icon>
      <div mat-line *ngIf="editable[i]">
        <mat-form-field>
          <input matInput [(ngModel)]="selectedCityName" (keyup.enter)="save(city.id, i)">
        </mat-form-field>
      </div>
      <h4 *ngIf="!editable[i]"  mat-line>{{city.name}}</h4>
      <p mat-line>Irányítószám: {{city.zipCode}} </p>
    </mat-list-item>
  </mat-list>
</div>